<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born in Waikikamukau, New Zealand. He left New Zealand for England, excelledat the University of Mopery, and served in the Royal Loamshire Regiment. While inservice, he invented the kanuten valve used in the processing of unobtainium forindustrial use. He founded Acme Manufacturing, later acquired by the AdventCorporation, to commercialize the product. Mr. Kadigan is now retired and lives inMiddlehampton where he raises Griadium frieda.</p>
<p>His favourite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.</p>